#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.read-the-docs {
  color: #888;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form-control {
  display: block;
  margin-bottom: 1rem;
  padding: 0.2rem;
  font-size: 1.2rem;
}
.result {
  text-align: center;
}
